.hero-container {
    padding: 5rem 10rem;
  }
  .resume-help {
      display: flex;
      
      align-items: center;
      padding: 40px;
      background-color: #1595df;
      background-image: url('../assets/blue.jpeg'); 
      background-size: cover;
      background-position: center;
    }
    
    .content-help {
      max-width: 600px;
      background-color: #3a90f2;
      padding: 40px;
      
    }
    
    .title {
      font-size: 2.5em;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 20px;
      text-align: left;
    }
    
    .description {
      font-size: 1.2em;
      color: #ffffff;
    }
    
    .image-container {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
    
    .image-container img {
      max-width: 100%;
      height: auto;
    }
  
    /**2nd**/
  
    .header {
      text-align: center;
      padding: 20px;
      background-color: #f7f9fc;
    }
    
    .logos .logo {
      display: inline-block;
      margin: 0 15px;
      font-size: 24px;
      font-weight: bold;
    }
    
    .links {
      margin-top: 20px;
    }
    
    .links span {
      margin: 0 10px;
      color: #333;
      cursor: pointer;
    }
    
  
    /**3rd**/
  
    
  /*4th*/

  
.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.faq-container h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
}

.faq-section {
  margin-bottom: 30px;
}

.faq-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.faq-section p {
  font-size: 16px;
  line-height: 1.5;
}

.faq-section ul {
  list-style-type: disc;
  padding-left: 20px;
 
  
}

.steps-list {
  font-size: 1.2em;
  margin-bottom: 20px;
  padding-left: 20px;
  color: black;
}

.steps-list li {
  margin-bottom: 10px;
  
  color: black;
}

.see-more-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #f0c14b;
  border: 1px solid #a88734;
  border-radius: 4px;
  cursor: pointer;
}

.see-more-button:hover {
  background-color: #ddb347;
}

.faq-divider {
  border: 0;
  height: 1px;
  background: #007BFF;
  margin: 20px 0;
}
  
    /**4th**/
  
    
  
  .subscription-form {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 1100px;
    margin: auto;
    background: linear-gradient(135deg, rgba(110, 193, 228, 0.8), rgba(23, 23, 233, 0.8));
    background-size: cover;
  }
  
  .subscription-form h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .subscription-form p {
    color: #fff;
  }
  
  .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .input-group input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
    flex: 1;
  }
  
  .input-group button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .input-group button:hover {
    background-color: #333;
  }
  
  .error-message {
    color: #f00;
    font-size: 0.8em;
    margin-top: 10px;
  }
  
  
    
    
    